<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ingentive.presidentsinfo">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <!-- <supports-screens -->
    <!-- android:anyDensity="true" -->
    <!-- android:largeScreens="true" -->
    <!-- android:normalScreens="true" -->
    <!-- android:smallScreens="true" /> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="mytestdatabase.db" />

        <!-- Notice this tag which provides the database version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ingentive.presidentsinfo.activeandroid.PresidentsList,
             com.ingentive.presidentsinfo.activeandroid.StoriesList,
             com.ingentive.presidentsinfo.activeandroid.PresidentInfo,
             com.ingentive.presidentsinfo.activeandroid.StoryInfo,
             com.ingentive.presidentsinfo.activeandroid.SettingsModel,
            com.ingentive.presidentsinfo.activeandroid.PresTSInFirstStory" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReadStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PresidentFactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuickReadActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".common.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.PresidentRevealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PresidentFactsWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReadStoryWebViewActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
