<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ingentive.nahad">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:name=".common.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="nahad_database.db" />
        <!-- Notice this tag which provides the database version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ingentive.nahad.activeandroid.AddFilesModel,
                           com.ingentive.nahad.activeandroid.TocParentModel,
                            com.ingentive.nahad.activeandroid.TocChildrenModel,
                            com.ingentive.nahad.activeandroid.TocSubChildrenModel,
                            com.ingentive.nahad.activeandroid.GlossaryModel,
                            com.ingentive.nahad.activeandroid.SendEmailModel,
                            com.ingentive.nahad.activeandroid.BookMarkModel,
                            com.ingentive.nahad.activeandroid.EmailSelectedTemp" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ContentsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainMenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BookInsideActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.PDFDownloadActivity" />
        <activity
            android:name=".activity.GlossaryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SendEmailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BookMarkActivity"
            android:screenOrientation="landscape"></activity>

        <receiver
            android:name=".common.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
